<h2>Gestión de Polizas</h2>
<hr>

<ul class="list-group">

    <li routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true}" 
        class="list-group-item">
        Home Page
    </li>

   <li routerLink="clientes/clientes"
        routerLinkActive="active"
        class="list-group-item">
        clientes
    </li> 

   <li routerLink="clientes/registrar"
        routerLinkActive="active"
        class="list-group-item">
        Registrar Cliente
    </li> 

    <li routerLink="polizas/polizas"
        routerLinkActive="active"
        class="list-group-item">
        Pólizas
    </li> 

    <li routerLink="about"
        routerLinkActive="active"
        class="list-group-item">
        About Page
    </li>


</ul>