<h2>Lista de Pólizas</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- searchBox -->
        <shared-search-box
        placeholder="Buscar por tipo, estado o rango de fechas"
        ></shared-search-box>
    </div>
</div>

<div class="row">
    <div class="col">
        <hr>
        <!-- Tabla de resultados -->
        <!-- <hr> -->
         <!-- <ul>
            <li *ngFor="let poliza of polizas">
                {{ poliza.tipoPoliza }} - {{ poliza.montoAsegurado}}
            </li>
         </ul> -->
        <app-poliza-table [polizas]="polizas"></app-poliza-table>
    </div>
</div>