<h2>Lista de Clientes</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- searchBox -->
        <shared-search-box
        placeholder="Buscar por nombre, correo o número de identificación"
         (onValue)="buscarPorFiltro($event)"
        ></shared-search-box>
    </div>
</div>

<div class="row">
    <div class="col">
        <hr>
        <!-- Tabla de resultados -->
        <!-- <hr> -->
         <!-- <ul>
            <li *ngFor="let cliente of clientes">
                {{ cliente.nombreCompleto }} - {{ cliente.numeroIdentificacion}}
            </li>
         </ul> -->
         <clientes-cliente-table [clientes]="clientes"></clientes-cliente-table>
    </div>
</div>